body {
    background:url(images/profile.jpg) fixed center;
    background-size:cover;
    font-family:'Arial Unicode MS';
    font-size:18px;
}

h1{
    text-align:center;
}

h3{
    text-align:center;
}

#schema{
    width:1400px;
}

.well{
    margin:30px;
    opacity:0.95;
}

#aboutProj{
    text-align:center;
}

#projectIcon{
    height:70px;
    width:300px;
}

#screenshots{
    text-align:center;
}

#screenshots img{
    width:421px;
    height:650px;
}

#legendId li img{
    height:30px;
    width:40px;
}

#legendId li{
    list-style-type:none;
}

.flowChart{
    text-align:center;
}

#stayHealthy{
    text-align:center;
}

#stayHealthy img{
    border:0px;
    height:300px;
    width:350px;
}



#loginRegisterScreens,#homePageScreens, #dashboardImg, #searchmeal, #meal, #exer, #fav, #schemaImg{
    text-align:center;
}

#yum{
    height:30px;
    width:80px;
    border:0;
}

.screenshot{
     width:1200px;
}

#projectAppName{
    width:250px;
    height:85px;
}

.bigScreenshots{
    width:1000px;
}

@media screen and (max-width: 1200px){
    .bigScreenshots{
        width:800px;
        height:510px;
    }
}


@media screen and (max-width: 900px){
    .bigScreenshots{
        width:500px;
        height:310px;
    }
}

@media screen and (max-width: 850px){
    .bigScreenshots{
        width:400px;
        height:260px;
    }
    #screenshots img{
        width:350px;
    }
    #thankYous img{
        width:350px;
    }
}

@media screen and (max-width: 500px) {
    .bigScreenshots{
        width:175px;
        height:180px;
    }
    #screenshots img{
        width:175px;
        height:180px;
    }
    #thankYous img{
        width:150px;
    }
}


