body {
    margin: 0;
    padding: 0;
}

a{
    text-decoration:none;
}

#contactMainDiv{
    background-color:transparent;
    margin-top:80px;
    opacity:0.9;
    text-align:center;
}

.mapLocation{
    width:300px;
    height:300px;
}

.container {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*Styling for vertical navigation bars*/
.verNavClass{
    margin-top:100px;
    list-style-type: none;
    margin-left: auto;
    margin-right:auto;
}

.verNavClass li{
    margin-top:10px;
    text-align:center;
    height:30px;
    width:inherit;
    margin-right:50px;
    border-bottom-left-radius:50%;
    border-bottom-right-radius:50%;
    border:2px solid yellow;
    -webkit-transition:all 0.2s ease-in-out;
}

.verNavClass li:hover{
    box-shadow:2px -2px 2px yellow;
    -webkit-transform:rotateY(20deg);
    background-color:Background;
}

/* Side Menu*/

.sideMenu{
    background:url(../images/homepage/sideMenu.jpg) repeat center;
    left:-25%;
    height:100%;
    position:fixed;
    background-size:cover;
    overflow:auto;
    padding:10px;
	width: 25%;
}

.sideMenu a{
    font-family:'Bookman Old Style';
    font-size:medium;
    font-weight:bold;
    text-align:center;
    color:white;   
}

.sideMenu p{
    margin-top:10px;
    text-align:center;
    font-size:30px;
    color:white;
    text-shadow:5px 5px 5px yellow;
    font-family:'Bookman Old Style';
}

/* Main Page Code*/
.mainPage{
    
    background:url(../images/homepage/homeBackground2.jpg) repeat center;
    left:0%;
    height:100%;
    position:fixed;
	background-size: cover;
    overflow:auto;
    width:100%;
    border-left:solid 5px blue;
}


/*Menu Image*/

#imglabelId{
    margin-left:20px;
    text-shadow:5px 5px 5px yellow;
    font-family:'Bookman Old Style';
    font-size:medium;
    color:whitesmoke;
}

#menuImg{
    margin-top:10px;
    margin-left: 20px;
    height:60px;
    width:60px;
    position:relative;
    -webkit-transition:all 0.2s ease-in;
}

#menuImg:hover{
    cursor:pointer;
}

/*About Me Section*/
.aboutMe{
    clear:both;
    display:block;
    margin:auto;    
    margin-top:0px;
    max-width: 700px;
    min-height: 350px;
}

.abtmeImage{
    width:500px;
    height:200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    -webkit-transition:all 2s ease-in-out;
}

.abtmeImage:hover{
    -webkit-transform:rotateX(25deg);
}

.aboutMe p{
    margin-top:20px;
    margin-left:30px;
    max-width:400px;
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    color:darkblue;
    opacity: 0.4;
    filter: alpha(opacity=70);
}

.headshot{
    margin-left:10px;
    margin-top:0px;
    border-radius:100%;
    width:300px;
    height:300px;
    border: 1px solid blue;
    -webkit-transition:all 1s ease-in-out;
}

.headshot:hover{
    -webkit-filter:hue-rotate(180deg);
}

.aboutMe div{
    width:300px;
    float:left;
}

#text2 a{
    color:orange;
    text-shadow:1px 1px 1px yellow;
}

/*contact me*/

.links{
    width:200px;
    margin:auto;
}

.fbIcon,.linkedIn, .plusIcon{
    left:0;
    bottom:0;
    margin-left:10px;
    height:30px;
    width:30px;
    -webkit-transition:all 1s ease-in-out;
}

.fbIcon:hover,.linkedIn:hover{
    cursor:pointer;
    -webkit-transform:scale(1.2,1.2);
}

.plusIcon:hover{
    cursor:pointer;
    -webkit-transform:scale(1.2,1.2);
}

/*Footer*/
#footer{
    width:350px;
    margin:auto;
}

.directLinks label{
    font-family: 'Comic Sans MS';
    font-size: 20px;
    color:black;
    font-weight:bold;
    background-color:Highlight;
}

#footer p{
    clear:both;
    padding-top:20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    color:darkblue;
    opacity: 0.7;
    text-shadow:1px 2px 1px green;
}

hr{
    color:blue;
}

/* Direct Links */
.directLinks{
    width:70%;
    margin:auto;
}



.directLinks p{
    position:relative;
    float:left;
}

.directLinks img{
    border-radius:100%;
    width:150px;
    height:150px;
    padding:10px;
    opacity:1;
    box-shadow: 1px 1px 1px blue;

}

#appName{
    border-radius:50px;
    width:300px;
    height:150px;
    box-shadow:0;
    padding:10px;
}


.horLinks{
    list-style-type:none;
    margin:0px;
    padding:0px;
    overflow:hidden;
}

.horLinks li{
    float:left;
    padding:20px;
}

.directLinks h2{
    opacity:1;
}


/*Navigation*/
.cssNav{
  list-style-type:none;
  margin:0;
  padding:10px;
}
.cssNav li{
  height:50px;
  margin-top:5px;
  margin-right:10px; 
  position:relative;
  opacity:0.8;
  background: linear-gradient(#292929, #242424);
}
.cssNav a {
  border-bottom: 1px solid black;
  text-decoration:none;
  display:block;
  height:100%;
  width:100%;
  line-height:50px;
  color:#eee;
  text-transform: uppercase;
  font-weight: bold;
  border-left:5px solid transparent;
  letter-spacing:1px;
  transition: all 0.3s linear;
}

.cssNav li:not(.active):hover a{
  color: #eee;
  border-left: 5px solid #FCFCFC;
}

/* Mobile Screen Layout Configuration */
@media screen and (min-width:768px){
    #mobScreen{
        display:none;
    }
}

@media screen and (max-width:768px){
    .container{
        display:none;
    }
}

#mMenuImg{
    height:40px;
    width:40px;
    padding:10px;
}

#mobScreen{
    background:url(../images/homepage/homeBackground2.jpg) repeat center;
}

#mobMenuId{
    width:200px;
}

.mobCssNav{
    left:0;
    padding-left:0;
}

.mobCssNav li{
    margin:5px;
    border-radius:20px;
    border:1px solid;
    text-align:center;
    list-style-type:none;
    background: -webkit-gradient(radial, 80% 20%, 0, 80% 40%, 100, from(#1a82f7), to(#2F2727));
    -webkit-transition:all 0.4s ease-in-out;
}

.mobCssNav a{
    clear:both;
    color:white;
    font-size:large;
}

.mobCssNav li:hover{
    -webkit-transform:translateX(10px);
}

#mobContainer h2{
    width:300px;
    padding:10px;
    margin:auto;
    -webkit-animation:animateHead 1s infinite alternate;
}

@-webkit-keyframes animateHead{
    0%   {color:burlywood;}
}

.directLinks{
    text-align:center;
}


/*----------------------*/
/* grid */
[class*="row-"] {
  margin-bottom: 20px;
}
[class*="row-"]:last-child {
  margin-bottom: 0;
}
[class*="col-"] {
}
 
@media all and ( min-width: 768px ) {
 
  /* all cols margin */
  [class*="col-"] {
    margin-right: 20px;
  }
  [class*="col-"]:last-child {
    margin-right: 0;
  }
 
  /* make the columns responsive */
  .col-1-2 {
    float: left;
    width: 50%;
  }
  .col-1-4 {
    float: left;
    width: 25%;
  }
  .col-1-8 {
    float: left;
    width: 25%;
  }
 
  /* 2 span rows */
  .row-2 {
    padding-left: 20px;
  }
  .row-2 [class*="col-"]:first-child {
    margin-left: -20px;
  }
 
  /* 4 span rows */
  .row-4 {
    padding-left: 60px;
  }
  .row-4 [class*="col-"]:first-child {
    margin-left: -60px;
  }
 
  /* 8 span rows */
  .row-8 {
    padding-left: 60px;
  }
  .row-8 [class*="col-"]:nth-child(4n+1) {
    margin-left: -60px;
  }
  .row-8 [class*="col-"]:nth-child(5n-1) {
    margin-right: 0;
  }
  .row-8 [class*="col-"]:nth-child(6n-1) {
    clear: both;
  }
 
}
 
@media all and ( min-width: 1200px ) {
 
  /* adjust width */
  .col-1-8 {
    float: left;
    width: 12.5%;
  }
 
  /* 8 span rows */
  .row-8 {
    padding-left: 140px;
  }
  /* reset these... */
  .row-8 [class*="col-"]:nth-child(4n+1) {
    margin-left: 0;
  }
  .row-8 [class*="col-"]:nth-child(5n-1) {
    margin-right: 20px;
  }
  .row-8 [class*="col-"]:nth-child(6n-1) {
    clear: none;
  }
  /* and add this */
  .row-8 [class*="col-"]:nth-child(1) {
    margin-left: -140px;
  }
 
}