/*Styling for horizontal navigation bars*/
.horNavClass{
    list-style-type:none;
    margin:0px;
    padding:0px;
    overflow:hidden;
}

.horNavClass li{
    float:left;
    background-color:antiquewhite;
    padding:10px;
}

.horNavClass a {
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    text-decoration:none;
}

.horNavClass a:hover{
    background-color:yellow;
    padding:10px;
}

.horNavClass a:visited{
    color:brown;
}

/*Styling for vertical navigation bars*/
.verNavClass{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.verNavClass a:link, a:visited {
    display: block;
    width: 120px;
    color: brown;
    background-color: burlywood;
    padding: 20px;
    text-decoration: none;
    text-transform: uppercase;
}

.verNavClass a:hover, a:active {
    background-color: bisque;
}



